
@{
    ViewData["Title"] = "StudentDisplay";
}

<h1>StudentDisplay</h1>

<p>
    Hello, Your RollNo is @ViewBag.RollNo
</p>
<p>
    Hello, @ViewBag.Name
</p>
<p>
    Your Branch is @ViewBag.Branch
</p>
<p>
    Your Current Year is @ViewBag.Year
</p>

