
@{
    ViewData["Title"] = "StudentDetails";
}

<h1>Student Details</h1>

<form asp-action="StudentDetails">
    <table>
        <tr>
            <td>
                Enter Your Roll No:
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("rollno")
            </td>
        </tr>
        <tr>
            <td>
                Enter Your Name:
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("name")
            </td>
        </tr>
        <tr>
            <td>
                Select Branch:
            </td>
            <td>
                @Html.DropDownList("branch")
            </td>
        </tr>
        <tr>
            <td>
                Select Year:
            </td>
            <td>
                <input type="radio" id="year" name="year" value="1st Year">
                <label for="html">1st Year</label><br>
                <input type="radio" id="year" name="year" value="2nd Year">
                <label for="css">2nd Year</label><br>
                <input type="radio" id="year" name="year" value="3rd Year">
                <label for="javascript">3rd Year</label>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="Save" class="btn btn-primary" />
            </td>
        </tr>
    </table>

</form>
